.centerBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color:  #333;
    width: 9cm;
    height: 50%;
    border-radius: 25px;
    
  }
  
.createPost{
    padding: 4px;
    margin: auto;
    margin-top:45%;
    display: flex;
    width: 2.5cm;
    background-color: rgb(39, 132, 218);
    color: white;
    text-align: center;
}

.textField{
    width: 50%;
    height: 100px;
    box-sizing: border-box;
    margin-top: 5%;
    margin-left: 50%;
    resize: none;
    vertical-align: top;
    line-height: 1;
}